/*
Author: Ryan Ericson 
Date: 22/02/2025
File Name: styles.css
*/

/* CSS reset */
body, header, nav, main, footer, h1, div, img, ul {
    margin: 0;
    padding: 0;
    border: 0;
}




main img{
    max-width: 10%;
    display: block;
    
}

.mobile {
    display: block;
}
   
.tablet-desktop {
    display: none;
} 

.round {
    border-radius: 8px;
} 