/*
Author: Ryan Ericson 
Date: 22/02/2025
File Name: styles.css
*/

/* CSS reset */
body, header, nav, main, footer, h1, div, img, ul {
    margin: 0;
    padding: 0;
    border: 0;
}

p{
    color: #114278;
}

header{
    background-color: #52bbeb;
    padding: 0.5%;
    text-align: center;
}

nav{
    background-color: #f2281d;
    padding: 1%;
    margin-bottom: 1%;
    display: flex;
    width: auto;
    padding: auto;
    border: 5px solid black;
    font-family: "Roboto Condensed", sans-serif;
}

nav a p{
    font-size: large;
    color: #000;
    width: 7em;
    background-color: #52bbeb; 
    text-align: center;   
     
}

nav ul{
    list-style-type: none;
    text-align: center;
    list-style-type: none;
    width: 95%;

}

nav li{
    background-color: #52bbeb;
    text-align: center;
    text-decoration: none;
    border: 1px solid black;
}

nav li a{
    display: block;
    color: #fff; 
    text-align: center; 
    text-decoration: none;
    padding-top: 0.5em; 
    padding-bottom: 0.5em; 
    padding-left: 1em; 
    padding-right: 1em;  
}

.booking-corner{
    text-decoration: none;
}

footer{
    display: block;
    background-color: #52bbeb;
    border: 1px solid black;
}


footer p{
    color: #000;
}

footer a{
    text-decoration: none;
    color: #000;
    text-align: center;
}

main img{
    max-width: 10%;
    display: block;
    
}

.action{
    font-size: medium;
    color: #114278;
}

.mobile {
    display: block;
}
   
.tablet-desktop {
    display: none;
} 

.round {
    border-radius: 8px;
}


table, th, td {
    border:1px solid black;
}

.title-action{
    font-size: 1.35em;
    color: #114278;
    font-weight: bold;
}

#vertical-nav{
    text-decoration: none;
    background-color: #114278;
}

.cloud{
    float: left;
    background-color: #f2281d;
}

.cloud-right{
    float: right;
    background-color: #fff;
}